<div style="padding-bottom: 5%">
  <h2 class="float-left">Modify Role</h2>
  <button
    type="button"
    id="addbtn"
    class="btn float-right"
    (click)="openAddRoleModal(RoleModal)"
  >
    Add
  </button>
</div>

<table class="table table-borderless table-curved">
  <thead id="tableHeadRole">
    <th>
      <span>
        Family
      </span>
      <select
        class="form-control form-control-sm"
        [(ngModel)]="filter_family_id"
        name="filter_family_id"
        (change)="clearFilterCapability()"
      >
        <option value="">All</option>
        <option
          *ngFor="let family of data.families | async"
          value="{{ family.family_id }}"
        >
          {{ family.family_name }}
        </option>
      </select>
    </th>
    <th>
      <span>
        Capability
      </span>
      <select
        class="form-control form-control-sm"
        [(ngModel)]="filter_capability_id"
        name="filter_capability_id"
      >
        <option value="">All</option>
        <option
          *ngFor="
            let capability of data.capabilities
              | async
              | filterCapabilityByFamilyid: filter_family_id
          "
          value="{{ capability.capability_id }}"
        >
          {{ capability.capability_name }}
        </option>
      </select>
    </th>
    <th>
      <span>
        Role
        <br />
      </span>
      <input
        class="form-control form-control-sm"
        [(ngModel)]="filter_role_name"
        placeholder="Filter"
      />
    </th>
    <th>
      <span>
        Band
      </span>
      <select
        class="form-control form-control-sm"
        [(ngModel)]="filter_band_id"
        name="filter_band_id"
      >
        <option value="">All</option>
        <option
          *ngFor="let band of data.bands | async"
          value="{{ band.band_id }}"
        >
          {{ band.band_name }}
        </option>
      </select>
    </th>
  </thead>
  <tbody
    *ngFor="
      let roleFamily of data.roleFamilies
        | async
        | filterRoleFamily: filter_family_id
    "
  >
    <tr
      *ngFor="
        let role of data.roles
          | async
          | filterAdminRole
            : roleFamily.role_id
            : filter_capability_id
            : filter_band_id
            : filter_role_name
      "
      (click)="openViewRoleModal(RoleModal, role)"
    >
      <td>
        <div *ngFor="let family of data.families | async">
          <div *ngFor="let capability of data.capabilities | async">
            <span
              *ngIf="
                role.capability_id === capability.capability_id &&
                capability.family_id === family.family_id
              "
            >
              {{ family.family_name }}
            </span>
          </div>
        </div>
      </td>
      <td>
        <span *ngFor="let capability of data.capabilities | async">
          <span *ngIf="role.capability_id === capability.capability_id">
            {{ capability.capability_name }}
          </span>
        </span>
      </td>
      <td>
        {{ role.role_name }}
      </td>
      <td>
        <span *ngFor="let band of data.bands | async">
          <span *ngIf="role.band_id === band.band_id">
            {{ band.band_name }}
          </span>
        </span>
      </td>
    </tr>
  </tbody>
</table>

<!-- ADD ROLE MODAL -->
<ng-template #RoleModal let-modal>
  <div class="modal-header" [style.background-color]="'#4caf50'">
    <h4 class="modal-title" id="modal-basic-title" style="color: #ffffff">
      {{modalState}} role
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true" style="color: #ffffff">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container login-container">
      <form #addForm="ngForm" required>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="family_id">Family</label>
            <select
              *ngIf="modalState == 'add' || modalState == 'edit'"
              class="form-control"
              [(ngModel)]="family_id"
              name="family_id"
              (change)="clearCapability()"
            >
              <option value="" selected="capability_id"></option>
              <option
                *ngFor="let family of data.families | async"
                value="{{ family.family_id }}"
                >{{ family.family_name }}</option
              >
            </select>
            <span 
                *ngIf="modalState == 'view'"
                class="form-control">
                <div *ngFor="let capability of data.capabilities | async">
                  <div *ngFor="let family of data.families | async">
                  <span
                    *ngIf="
                    selectRole.capability_id === capability.capability_id &&
                      capability.family_id === family.family_id
                    "
                  >
                    {{ family.family_name }}
                  </span>
                </div>
                </div>
            </span>
          </div>
          <div class="form-group col-md-6">
            <label for="capability_id">Capability</label>
            <select
              *ngIf="modalState == 'add' || modalState == 'edit'"
              class="form-control"
              [(ngModel)]="newRole.capability_id"
              name="capability_id"
              required
            >
              <option value="" ng-selected="capability_id"></option>
              <option
                *ngFor="
                  let capability of data.capabilities
                    | async
                    | filterCapabilityByFamilyid: family_id
                "
                value="{{ capability.capability_id }}"
                >{{ capability.capability_name }}</option
              >
            </select>
            <span 
                *ngIf="modalState == 'view'"
                class="form-control">
                <div *ngFor="let capability of data.capabilities | async">
                  <span *ngIf="selectRole.capability_id == capability.capability_id">
                    {{ capability.capability_name }}
                  </span>
                </div>
            </span>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="role_name">Role</label>
            <input
              *ngIf="modalState == 'add' || modalState == 'edit'"
              type="text"
              class="form-control"
              placeholder="Enter role"
              [(ngModel)]="newRole.role_name"
              name="role_name"
              required
            />
            <p
              *ngIf="modalState == 'view'"
              class="form-control"
            >
              {{ selectRole.role_name }}
            </p>
          </div>
          <div class="form-group col-md-6">
            <label for="band_id">Band</label>
            <select
              *ngIf="modalState == 'add' || modalState == 'edit'"
              class="form-control"
              [(ngModel)]="newRole.band_id"
              name="band_id"
              required
            >
              <option value=""></option>
              <option
                *ngFor="let band of data.bands | async"
                value="{{ band.band_id }}"
                >{{ band.band_name }}</option
              >
            </select>
            <span 
                *ngIf="modalState == 'view'"
                class="form-control">
                <div *ngFor="let band of data.bands | async">
                  <span *ngIf="selectRole.band_id == band.band_id">
                    {{ band.band_name }}
                  </span>
                </div>
            </span>
            
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="role_summary">Role Summary</label>
            <textarea
              *ngIf="modalState == 'add' || modalState == 'edit'"
              class="form-control"
              placeholder="Enter role summary"
              [(ngModel)]="newRole.role_summary"
              name="role_summary"
              required
            ></textarea>
            <textarea
              *ngIf="modalState == 'view'"
              class="form-control"
              value="{{selectRole.role_summary }}"
              readonly
            > 
            
            </textarea>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="role_name">Sharepoint link</label>
            <input
              *ngIf="modalState == 'add' || modalState == 'edit'"
              type="text"
              class="form-control"
              [(ngModel)]="newRole.role_sum_link"
              placeholder="Enter sharepoint link"
              name="role_sum_link"
              required
              appSharepoint
            />
            <input
            type="text"
            *ngIf="modalState == 'view'"
            class="form-control"
            value="{{selectRole.role_sum_link}}"
            readonly>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <div *ngIf="modalState == 'add'">
    <button
      type="submit"
      class="btn btn-outline-dark subBtn"
      value="Submit"
      (click)="addRole(addForm)"
    >
      Submit
    </button>
    <button
      type="button"
      class="btn btn-outline-dark"
      value="Cancel"
      (click)="cancelForm()"
    >
      Cancel
    </button>
  </div>
  <div *ngIf="modalState == 'view'">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="cancelForm()"
      >
      Close
      </button>
    </div>
    <div *ngIf="modalState == 'edit'">
      <button
      type="submit"
      class="btn btn-outline-dark subBtn"
      value="Submit"
      (click)="editRole(addForm)"
    >
      Submit
    </button>
    <button
      type="button"
      class="btn btn-outline-dark"
      value="Cancel"
      (click)="cancelForm()"
    >
    </button>
  </div>
  </div>
</ng-template>
