<div class="mainHeader">
  <nav class="navbar">
    <img src="../assets/Kainos-logo.png" id="logo" />
    <h1 id="CLtitle">{{ title }}</h1>
    <button class="btn btn-outline-light my-2 my-sm-0 loginBtn" type="button">
      Log in
    </button>
  </nav>
</div>

<div class="container">
  <ngb-accordion class="capabilityTable" #acc="ngbAccordion" activeIds="">
    <ngb-panel
      title="{{ capability.capability_name }}"
      *ngFor="let capability of data.capabilities | async"
      class="roleRow"
    >
      <ng-template ngbPanelContent>
        <table class="table table-borderless table-hover">
          <tbody>
            <tr *ngFor="let role of data.roles | async">
              <td
                class="roleCap"
                *ngIf="role.capability_id === capability.capability_id"
              >
                <div class="row jobRow">
                  <div class="col-9">
                    <div
                      class="roleName"
                      (click)="
                        openModal(
                          content,
                          role.role_id,
                          role.role_name,
                          role.role_summary,
                          role.role_sum_link
                        )
                      "
                    >
                      <button
                        class="btn btn-link my-2 my-sm-0 roleNameBtn"
                        type="button"
                      >
                        {{ role.role_name }}
                      </button>
                    </div>
                  </div>
                  <div class="col-3">
                    <div *ngFor="let band of data.bands | async">
                      <span
                        class="jobBand"
                        *ngIf="band.band_id === role.band_id"
                        (click)="openCompModal(competencyModal, band.band_id)"
                      >
                        <button
                          class="btn btn-link my-2 my-sm-0 compBtn"
                          type="button"
                        >
                          {{ band.band_name }}
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>

<!-- JOB SPEC MODAL -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ roleName }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <h5 class="jobSpec">Job Specification</h5>
        <p>{{ roleSummary }}</p>
        <br />
        <a *ngIf="roleLink" href="roleLink">Sharepoint Link</a>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Close
    </button>
  </div>
</ng-template>

<!-- COMPETENCY MODAL -->
<ng-template #competencyModal let-modal>
  <div class="modal-header">
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div *ngFor="let band of data.bands | async">
          <p *ngIf="band.band_id === bandID" [innerHtml]="band.competency"></p>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Close
    </button>
  </div>
</ng-template>

<router-outlet></router-outlet>
