<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="mainTitle">
    Welcome to {{ title }}!
  </h1>
</div>

<div class="container">
  <table class="table table-borderless table-hover">
    <thead class="roleTableHead">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let role of data.roles | async" (click)='openModal()'>
        <th>
          {{ role.role_id }}
        </th>
        <td>{{ role.role_name }}</td>
      </tr>
    </tbody>
  </table>

  <app-role-modal></app-role-modal>
</div>

<router-outlet></router-outlet>
