#navcss{
  background-color: #003471;
  padding: 1rem;
  color: #ffffff;

}
#logo {
  max-width: 7%;
  max-height: 7%;
}
#CLtitle {
  text-align: center;
  position: absolute;
  color: #ffffff;
  font-size: 22px;
  width: 100%;
  padding-right: 5%;
}
