<div id="navcss" class="mainHeader">
    <nav class="navbar flex-md-nowrap navbar-fixed-top">
      <img class="image-responsive" src="../assets/Kainos-logo.svg" width="90" height="39" />
      <h1 id="CLtitle">{{ title }}</h1>
      <ul class="navbar-nav px-3 loginBtn">
        <li class="nav-item text-nowrap">
          <button
            class="btn btn-sm btn-outline-light my-2 my-sm-0 "
            type="button"
          >
            Log in
          </button>
        </li>
      </ul>
    </nav>
  </div>
