<nav class="col-sm-2 col-md-2 col-lg-2 d-none d-md-block sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <h4
          class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
        >
          <a class="sidebarHeader" href="#" routerLink="/" routerLinkActive="activeSidebarItem"
            ><span>All</span></a
          >
        </h4>
      </li>
      <li class="nav-item" *ngFor="let family of data.families | async">
        <a
          class="nav-link sidebarItems"
          href="#"
          routerLink="/{{ family.family_name }}"
          routerLinkActive="activeSidebarItem"
        >
          <span data-feather="file"></span>
          {{ family.family_name }}
        </a>
      </li>
      <li *ngIf="isAdmin" class="nav-item">
        <h4
          class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
        >
          <a class="sidebarHeader" href="#" routerLink="/admin-role"
            ><span>Admin</span></a
          >
        </h4>
      </li>
      <li *ngIf="isAdmin" class="nav-item">
        <a
          class="nav-link sidebarItems"
          href="#"
          routerLink="/admin-role"
          routerLinkActive="activeSidebarItem"
        >
          Role
        </a>
      </li>
    </ul>
  </div>
</nav>
