<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-2 col-md-2 col-lg-2 d-none d-md-block sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <h3
              class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
            >
              <a class="sidebarHeader" href="#" routerLink="/home"
                ><span>All</span></a
              >
            </h3>
          </li>
          <li class="nav-item" *ngFor="let family of data.families | async">
            <a
            class="nav-link"
            href="#"
            routerLink="/{{ family.family_id }}"
            [ngClass]="family.family_id === 5 ? 'activeSidebarItem': 'sidebarItems'"
            >
              <span data-feather="file"></span>
              {{ family.family_name }}
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main
      role="main"
      class="col-sm-10 col-md-10 ml-sm-auto col-lg-10 pt-3 px-5 mainContent"
    >
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-1 mb-2"
      >
        <h1 class="familyTitle">Management</h1>
      </div>
      <ngb-accordion
        class="capabilityTable"
        #acc="ngbAccordion"
        activeIds=""
        *ngFor="let capability of data.capabilities | async | sortBy:'capability_name':'asc'"
      >
        <ngb-panel
          title="{{ capability.capability_name }}"
          *ngIf="capability.family_id === 5"
        >
          <ng-template ngbPanelContent>
            <table class="table table-borderless table-hover">
              <tbody>
                <tr *ngFor="let role of data.roles | async" class="roleRow">
                  <td
                    class="roleCap"
                    *ngIf="role.capability_id === capability.capability_id"
                  >
                    <div class="row jobRow">
                      <div class="col-9">
                        <div
                          class="roleName"
                          (click)="
                            openModal(
                              content,
                              role.role_id,
                              role.role_name,
                              role.role_summary,
                              role.role_sum_link
                            )
                          "
                        >
                          <button
                            class="btn btn-link my-2 my-sm-0 roleNameBtn"
                            type="button"
                          >
                            {{ role.role_name }}
                          </button>
                        </div>
                      </div>
                      <div class="col-3">
                        <div *ngFor="let band of data.bands | async">
                          <span
                            class="jobBand"
                            *ngIf="band.band_id === role.band_id"
                            (click)="
                              openCompModal(competencyModal, band.band_id)
                            "
                          >
                            <button
                              class="btn btn-link my-2 my-sm-0 compBtn"
                              type="button"
                            >
                              {{ band.band_name }}
                            </button>
                          </span>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>

      <!-- JOB SPEC MODAL -->
      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">{{ roleName }}</h4>
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <h5 class="jobSpec">Job Specification</h5>
              <p>{{ roleSummary }}</p>
              <br />
              <a *ngIf="roleLink" [href]="roleLink">Sharepoint Link</a>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="modal.close('Save click')"
          >
            Close
          </button>
        </div>
      </ng-template>

      <!-- COMPETENCY MODAL -->
      <ng-template #competencyModal let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">{{ bandName }}</h4>
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <h4>Competency Framework</h4>
              <ul>
                <div *ngFor="let bandTitle of data.bandTitles | async | filterBandTitleById: bandID">
                  <div *ngFor="let title of data.titles | async | filterTitleById: bandTitle.title_id">
                    <li>{{title.title_name}}</li>
                    <ul>
                      <div *ngFor="let bandCompetency of data.bandCompetencies | async | filterBandCompetencyById: bandID">
                        <div *ngFor="let competency of data.competencies | async | filterCompetencyForDisplay: bandCompetency.competency_id: title.title_id">
                          <li>{{competency.description}}</li>
                        </div>
                      </div>
                    </ul>
                  </div>
                </div>
              </ul>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="modal.close('Save click')"
          >
            Close
          </button>
        </div>
      </ng-template>
    </main>
  </div>
</div>
